{% extends 'base.html.twig' %}

{% block title %}Регистрация{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <h1 class="mb-4 text-center">Регистрация</h1>

            {{ form_start(registrationForm, {'attr': {'class': 'needs-validation', 'novalidate': ''}}) }}
            <div class="mb-3">
                {{ form_label(registrationForm.email, null, {'label_attr': {'class': 'form-label'}}) }}
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                    {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'example@domain.com'}}) }}
                </div>
                {{ form_errors(registrationForm.email) }}
            </div>
            <div class="mb-3">
                {{ form_label(registrationForm.plainPassword, 'Пароль', {'label_attr': {'class': 'form-label'}}) }}
                <div class="input-group">
                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                    {{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control', 'placeholder': 'Введите пароль'}}) }}
                </div>
                {{ form_errors(registrationForm.plainPassword) }}
            </div>
            <div class="d-grid">
                <button type="submit" class="btn btn-primary"><i class="bi bi-person-plus"></i> Зарегистрироваться</button>
            </div>
            {{ form_end(registrationForm) }}

            <p class="mt-3 text-center">Уже есть аккаунт? <a href="{{ path('app_login') }}" class="link-primary">Войти</a></p>
        </div>
    </div>
{% endblock %}